<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TierGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TierGenerator.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="DataBase_SqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_Catalog" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_SqlAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Database_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_ClassPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_SpPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_OutputDirectory" serializeAs="String">
                <value />
            </setting>
        </TierGenerator.Properties.Settings>
    </userSettings>
</configuration>